.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%; 
  height: 50vh; /* Tinggi untuk mobile */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsif untuk Desktop */
@media (min-width: 1024px) {
  .lanyard-wrapper {
    width: 100%;
    height: 80vh; /* Lebih tinggi di desktop */
  }
}